section{
    text-align: center;
}
#container {
    margin: 80px auto;
    width: 600px;
    background-color: rgba(230, 236, 236, 0.363);
    padding: 40px 20px;
}
.my-btn{
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid gray;
}
.server-message{
    padding-top: 30px;
    font-weight: bold;
    color: #000;
    position: relative;
    top: 15px;
    display: none;
}
.btn-edit{
    position: absolute;
    top: 10px;
    right: 10px;
}
.ui-dialog{
    z-index: 100;
    width: 500px !important;
}
.ui-widget-overlay{
    background: black;
    opacity: 0.5 ;
}
.ui-dialog-titlebar-close {
    background-image: url("http://code.jquery.com/ui/1.9.2/themes/base/images/ui-icons_222222_256x240.png");
    background-position: -97px -129px;
    
}